{% extends 'base.html' %}

{% block body %}

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/signature_style.css">
        <script type="text/javascript" src="/static/script/signature_pad.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mitgliedsantrag.css') }}">
        <script language="javascript" type="text/javascript"
                src="{{ url_for('static', filename='js/mitgliedsantrag_validierung_1.js') }}"></script>
        <!-- recaptcha default from google site -->
        <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
        <script>
            function onSubmit() {
                document.getElementById("antragsformular").submit();
            }
        </script>
        <!---->
        <!-- adress api default from google site -->
        <script>
            (g => {
                var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__",
                    m = document, b = window;
                b = b[c] || (b[c] = {});
                var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
                    u = () => h || (h = new Promise(async (f, n) => {
                        await (a = m.createElement("script"));
                        e.set("libraries", [...r] + "");
                        for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                        e.set("callback", c + ".maps." + q);
                        a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
                        d[q] = f;
                        a.onerror = () => h = n(Error(p + " could not load."));
                        a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                        m.head.append(a)
                    }));
                d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
            })({
                key: "YOUR_API_KEY_HERE",
                // Add other bootstrap parameters as needed, using camel case.
                // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
            });
        </script>
        <!---->
        <title>Membership Application</title>
    </head>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/signature_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/script/signature_pad.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mitgliedsantrag.css') }}">
    <script language="javascript" type="text/javascript"
                src="{{ url_for('static', filename='js/mitgliedsantrag_validierung_1.js') }}"></script>
    <!-- recaptcha default from google site -->
    <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
    
    <!---->
    <!-- adress api default from google site -->
    <script>
        (g => {
                var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__",
                    m = document, b = window;
                b = b[c] || (b[c] = {});
                var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
                    u = () => h || (h = new Promise(async (f, n) => {
                        await (a = m.createElement("script"));
                        e.set("libraries", [...r] + "");
                        for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                        e.set("callback", c + ".maps." + q);
                        a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
                        d[q] = f;
                        a.onerror = () => h = n(Error(p + " could not load."));
                        a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                        m.head.append(a)
                    }));
                d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
            })({
          key: "YOUR_API_KEY_HERE",
          // Add other bootstrap parameters as needed, using camel case.
          // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
        });
      </script>
    <!---->
    <title>Membership Application</title>
</head>
<body>

    <form id="antragsformular" method="post" action="{{ url_for('mitgliedsantrag') }}">
        <div class="containerMain">
                            <h1 class="main-heading">Mitgliedsantrag</h1>
                <!-- Radio button group -->
                <div class="radio-button-group">
                    <label class="radio-button">
                        <input type="radio" name="membership-type" required value="new-membership">
                        Neumitgliedschaft
                    </label>
                    <label class="radio-button">
                        <input type="radio" name="membership-type" value="family-membership">
                        Umstellung Familienmitgliedschaft
                    </label>
                    <label class="radio-button">
                        <input type="radio" name="membership-type" value="fee-exemption">
                        Antrag auf Beitragsbefreiung
                    </label>
                </div>
                <div class="sub-heading">Persönliche Daten</div>
                <!-- Personal data fields -->
                <div class="PD-Container">
                    <div class="flexPersonalDataGroup" id="personalDataGroup">
                        <!-- Initial Field -->
                        <div class="flexPersonalDataField" id="personalDataField1">
                            <!-- Inhalte für das erste Personalfeld -->
                        <div class="radioCheck">
                            <input class="" id="male1" type="radio" name="gender1">
                            <label for="male1">M</label>
                            <input class="" id="female1" type="radio" name="gender1">
                                <label for="female1">W</label>
                    </div>
                    <input class="inputField" placeholder="Vorname" name="vn1">
                    <input class="inputField" placeholder="Name, Titel" name="nn1">
                            <input class="inputField" placeholder="Geburtsdatum" type="date" name="date1" id="date1">
                            <input class="inputField" placeholder="E-Mail" type="email" name="email1">
                            <input class="inputField" placeholder="Telefon/Mobil" name="mobile1">
                        </div>
                    </div>
<span class="addFieldButton">
                        <button class="addFieldButtonStyle" type="button" id="addFieldButton" onclick="addField()">+</button>
                        <button class="removeFieldButtonStyle" type="button" id="removeFieldButton" onclick="removeField()">-</button>
                    </span>
                </div>
            
            <!-- Sports selection -->
            <div class="sportsSelectionTabs">

                <h2 class="sub-heading">Sportart(en)</h2>

                <ul class="tabList" id="tabList">
                    <li class="tab active" onclick="openTab(event, 'Member1')">Mitglied 1</li>
                                    </ul>
                    <div id="Member1" class="tabContent" style="display: none;">

                        <div class="sportSelectionGroup">
                            <!-- Sport Selection Columns -->
                            <div class="sportSelectionColumn">
                                <h3 class="sub-heading2">Allgemein</h3>
                                <label><input type="checkbox" name="klettern1">Klettern</label>
                                <label><input type="checkbox" name="volleyball1">Volleyball</label>
                                <label><input type="checkbox" name="indiaca1">Indiaca</label>
                                <label><input type="checkbox" name="faustball1">Faustball</label>
                                <label><input type="checkbox" name="basketball1">Basketball</label>
                                <label><input type="checkbox" name="boule1">Boule</label>
                                <label><input type="checkbox" name="tae_bo1">Tae Bo</label>
                                <label><input type="checkbox" name="pilates1">Pilates</label>
                                <label><input type="checkbox" name="fitness1">Fitness</label>
                                <label><input type="checkbox" name="power_workout1">Power Workout</label>
                                <label><input type="checkbox" name="passives_mitglied1">Passives Mitglied</label>
                            </div>
                            <div class="sportSelectionColumn">
                                <h3 class="sub-heading2">Leistungssport</h3>
                                <label><input type="checkbox" name="handball1">Handball</label>
                                <label><input type="checkbox" name="fussball1">Fußball</label>
                                <label><input type="checkbox" name="turnen1">Turnen</label>
                                <label><input type="checkbox" name="judo1">Judo</label>
                                <label><input type="checkbox" name="badminton1">Badminton</label>
                                <label><input type="checkbox" name="tischtennis1">Tischtennis</label>
                            </div>
                            <div class="sportSelectionColumn">
                                <h3 class="sub-heading2">Kinder-/Seniorensport</h3>
                                <label><input type="checkbox" name="kinderturnen1">Kinderturnen</label>
                                <label><input type="checkbox" name="mutter_kind1">Mutter-/Kind</label>
                                <label><input type="checkbox" name="ballschule1">Ballschule</label>
                                <label><input type="checkbox" name="seniorensport1">Seniorensport</label>

                        </div>
                    </div>
                    <div id="Member2" class="tabContent" style="display: none;">

                        <div class="sportSelectionGroup">
                            <!-- Sport Selection Columns -->
                            <div class="sportSelectionColumn">
                                <h3 class="sub-heading2">Allgemein</h3>
                                <label><input type="checkbox" name="klettern2">Klettern</label>
                                <label><input type="checkbox" name="volleyball2">Volleyball</label>
                                <label><input type="checkbox" name="indiaca2">Indiaca</label>
                                <label><input type="checkbox" name="faustball2">Faustball</label>
                                <label><input type="checkbox" name="basketball2">Basketball</label>
                                <label><input type="checkbox" name="boule2">Boule</label>
                                <label><input type="checkbox" name="tae_bo2">Tae Bo</label>
                                <label><input type="checkbox" name="pilates2">Pilates</label>
                                <label><input type="checkbox" name="fitness2">Fitness</label>
                                <label><input type="checkbox" name="power_workout2">Power Workout</label>
                                <label><input type="checkbox" name="passives_mitglied2">Passives Mitglied</label>
                            </div>
                            <div class="sportSelectionColumn">
                                <h3 class="sub-heading2">Leistungssport</h3>
                                <label><input type="checkbox" name="handball2">Handball</label>
                                <label><input type="checkbox" name="fussball2">Fußball</label>
                                <label><input type="checkbox" name="turnen2">Turnen</label>
                                <label><input type="checkbox" name="judo2">Judo</label>
                                <label><input type="checkbox" name="badminton2">Badminton</label>
                                <label><input type="checkbox" name="tischtennis2">Tischtennis</label>
                            </div>
                            <div class="sportSelectionColumn">
                                <h3 class="sub-heading2">Kinder-/Seniorensport</h3>
                                <label><input type="checkbox" name="kinderturnen2">Kinderturnen</label>
                                <label><input type="checkbox" name="mutter_kind2">Mutter-/Kind</label>
                                <label><input type="checkbox" name="ballschule2">Ballschule</label>
                                <label><input type="checkbox" name="seniorensport2">Seniorensport</label>

                        </div>
                    </div>
                    <div id="Member3" class="tabContent" style="display: none;">

                        <div class="sportSelectionGroup">
                            <!-- Sport Selection Columns -->
                            <div class="sportSelectionColumn">
                                <h3 class="sub-heading2">Allgemein</h3>
                                <label><input type="checkbox" name="klettern3">Klettern</label>
                                <label><input type="checkbox" name="volleyball3">Volleyball</label>
                                <label><input type="checkbox" name="indiaca3">Indiaca</label>
                                <label><input type="checkbox" name="faustball3">Faustball</label>
                                <label><input type="checkbox" name="basketball3">Basketball</label>
                                <label><input type="checkbox" name="boule3">Boule</label>
                                <label><input type="checkbox" name="tae_bo3">Tae Bo</label>
                                <label><input type="checkbox" name="pilates3">Pilates</label>
                                <label><input type="checkbox" name="fitness3">Fitness</label>
                                <label><input type="checkbox" name="power_workout3">Power Workout</label>
                                <label><input type="checkbox" name="passives_mitglied3">Passives Mitglied</label>
                            </div>
                            <div class="sportSelectionColumn">
                                <h3 class="sub-heading2">Leistungssport</h3>
                                <label><input type="checkbox" name="handball3">Handball</label>
                                <label><input type="checkbox" name="fussball3">Fußball</label>
                                <label><input type="checkbox" name="turnen3">Turnen</label>
                                <label><input type="checkbox" name="judo3">Judo</label>
                                <label><input type="checkbox" name="badminton3">Badminton</label>
                                <label><input type="checkbox" name="tischtennis3">Tischtennis</label>
                            </div>
                            <div class="sportSelectionColumn">
                                <h3 class="sub-heading2">Kinder-/Seniorensport</h3>
                                <label><input type="checkbox" name="kinderturnen3">Kinderturnen</label>
                                <label><input type="checkbox" name="mutter_kind3">Mutter-/Kind</label>
                                <label><input type="checkbox" name="ballschule3">Ballschule</label>
                                <label><input type="checkbox" name="seniorensport3">Seniorensport</label>

                        </div>
                </div>
                <div id="Member4" class="tabContent" style="display: none;">

                    <div class="sportSelectionGroup">
                        <!-- Sport Selection Columns -->
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Allgemein</h3>
                            <label><input type="checkbox" name="klettern4">Klettern</label>
                            <label><input type="checkbox" name="volleyball4">Volleyball</label>
                            <label><input type="checkbox" name="indiaca4">Indiaca</label>
                            <label><input type="checkbox" name="faustball4">Faustball</label>
                            <label><input type="checkbox" name="basketball4">Basketball</label>
                            <label><input type="checkbox" name="boule4">Boule</label>
                            <label><input type="checkbox" name="tae_bo4">Tae Bo</label>
                            <label><input type="checkbox" name="pilates4">Pilates</label>
                            <label><input type="checkbox" name="fitness4">Fitness</label>
                            <label><input type="checkbox" name="power_workout4">Power Workout</label>
                            <label><input type="checkbox" name="passives_mitglied4">Passives Mitglied</label>
                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Leistungssport</h3>
                            <label><input type="checkbox" name="handball4">Handball</label>
                            <label><input type="checkbox" name="fussball4">Fußball</label>
                            <label><input type="checkbox" name="turnen4">Turnen</label>
                            <label><input type="checkbox" name="judo4">Judo</label>
                            <label><input type="checkbox" name="badminton4">Badminton</label>
                            <label><input type="checkbox" name="tischtennis4">Tischtennis</label>
                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Kinder-/Seniorensport</h3>
                            <label><input type="checkbox" name="kinderturnen4">Kinderturnen</label>
                            <label><input type="checkbox" name="mutter_kind4">Mutter-/Kind</label>
                            <label><input type="checkbox" name="ballschule4">Ballschule</label>
                            <label><input type="checkbox" name="seniorensport4">Seniorensport</label>

                        </div>
                    </div>
                </div>
                <div id="Member5" class="tabContent" style="display: none;">

                    <div class="sportSelectionGroup">
                        <!-- Sport Selection Columns -->
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Allgemein</h3>
                            <label><input type="checkbox" name="klettern5">Klettern</label>
                            <label><input type="checkbox" name="volleyball5">Volleyball</label>
                            <label><input type="checkbox" name="indiaca5">Indiaca</label>
                            <label><input type="checkbox" name="faustball5">Faustball</label>
                            <label><input type="checkbox" name="basketball5">Basketball</label>
                            <label><input type="checkbox" name="boule5">Boule</label>
                            <label><input type="checkbox" name="tae_bo5">Tae Bo</label>
                            <label><input type="checkbox" name="pilates5">Pilates</label>
                            <label><input type="checkbox" name="fitness5">Fitness</label>
                            <label><input type="checkbox" name="power_workout5">Power Workout</label>
                            <label><input type="checkbox" name="passives_mitglied5">Passives Mitglied</label>
                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Leistungssport</h3>
                            <label><input type="checkbox" name="handball5">Handball</label>
                            <label><input type="checkbox" name="fussball5">Fußball</label>
                            <label><input type="checkbox" name="turnen5">Turnen</label>
                            <label><input type="checkbox" name="judo5">Judo</label>
                            <label><input type="checkbox" name="badminton5">Badminton</label>
                            <label><input type="checkbox" name="tischtennis5">Tischtennis</label>
                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Kinder-/Seniorensport</h3>
                            <label><input type="checkbox" name="kinderturnen5">Kinderturnen</label>
                            <label><input type="checkbox" name="mutter_kind5">Mutter-/Kind</label>
                            <label><input type="checkbox" name="ballschule5">Ballschule</label>
                            <label><input type="checkbox" name="seniorensport5">Seniorensport</label>

                        </div>
                    </div>
                </div>
                            </div>
                        </div>
                </div>
                <div id="Member4" class="tabContent" style="display: none;">

                    <div class="sportSelectionGroup">
                        <!-- Sport Selection Columns -->
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Allgemein</h3>
                            <label><input type="checkbox" name="klettern4">Klettern</label>
                            <label><input type="checkbox" name="volleyball4">Volleyball</label>
                            <label><input type="checkbox" name="indiaca4">Indiaca</label>
                            <label><input type="checkbox" name="faustball4">Faustball</label>
                            <label><input type="checkbox" name="basketball4">Basketball</label>
                            <label><input type="checkbox" name="boule4">Boule</label>
                            <label><input type="checkbox" name="tae_bo4">Tae Bo</label>
                            <label><input type="checkbox" name="pilates4">Pilates</label>
                            <label><input type="checkbox" name="fitness4">Fitness</label>
                            <label><input type="checkbox" name="power_workout4">Power Workout</label>
                            <label><input type="checkbox" name="passives_mitglied4">Passives Mitglied</label>
                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Leistungssport</h3>
                            <label><input type="checkbox" name="handball4">Handball</label>
                            <label><input type="checkbox" name="fussball4">Fußball</label>
                            <label><input type="checkbox" name="turnen4">Turnen</label>
                            <label><input type="checkbox" name="judo4">Judo</label>
                            <label><input type="checkbox" name="badminton4">Badminton</label>
                            <label><input type="checkbox" name="tischtennis4">Tischtennis</label>
                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Kinder-/Seniorensport</h3>
                            <label><input type="checkbox" name="kinderturnen4">Kinderturnen</label>
                            <label><input type="checkbox" name="mutter_kind4">Mutter-/Kind</label>
                            <label><input type="checkbox" name="ballschule4">Ballschule</label>
                            <label><input type="checkbox" name="seniorensport4">Seniorensport</label>

                        </div>
                    </div>
                </div>
                <div id="Member5" class="tabContent" style="display: none;">

                    <div class="sportSelectionGroup">
                        <!-- Sport Selection Columns -->
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Allgemein</h3>
                            <label><input type="checkbox" name="klettern5">Klettern</label>
                            <label><input type="checkbox" name="volleyball5">Volleyball</label>
                            <label><input type="checkbox" name="indiaca5">Indiaca</label>
                            <label><input type="checkbox" name="faustball5">Faustball</label>
                            <label><input type="checkbox" name="basketball5">Basketball</label>
                            <label><input type="checkbox" name="boule5">Boule</label>
                            <label><input type="checkbox" name="tae_bo5">Tae Bo</label>
                            <label><input type="checkbox" name="pilates5">Pilates</label>
                            <label><input type="checkbox" name="fitness5">Fitness</label>
                            <label><input type="checkbox" name="power_workout5">Power Workout</label>
                            <label><input type="checkbox" name="passives_mitglied5">Passives Mitglied</label>
                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Leistungssport</h3>
                            <label><input type="checkbox" name="handball5">Handball</label>
                            <label><input type="checkbox" name="fussball5">Fußball</label>
                            <label><input type="checkbox" name="turnen5">Turnen</label>
                            <label><input type="checkbox" name="judo5">Judo</label>
                            <label><input type="checkbox" name="badminton5">Badminton</label>
                            <label><input type="checkbox" name="tischtennis5">Tischtennis</label>
                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Kinder-/Seniorensport</h3>
                            <label><input type="checkbox" name="kinderturnen5">Kinderturnen</label>
                            <label><input type="checkbox" name="mutter_kind5">Mutter-/Kind</label>
                            <label><input type="checkbox" name="ballschule5">Ballschule</label>
                            <label><input type="checkbox" name="seniorensport5">Seniorensport</label>

                        </div>
                    </div>
            </div>
            <div class="addressField"><h2 class="sub-heading3">Adresse</h2>
                <input class="inputField" placeholder="Straße Hausnr. ">
                <input class="inputField" placeholder="Stadt, Postleitzahl">
            </div>
            <div class="bankField"><h2 class="sub-heading3">Bankdaten</h2>
                <input class="inputField" placeholder="Kontoinhaber/-in" required>
                <input class="inputField" type="text" id="iban" placeholder="IBAN">
                <input class="inputField" placeholder="BIC (nur bei Auslandskonten)">
            </div>
            <div class="bankField"><h2 class="sub-heading3">SEPA Mandate</h2>
                    Die Mitgliedschaft ist ausschließlich mit Erteilung eines SEPA-Lastschriftmandats möglich. Zur
                Einrichtung der Mitgliedschaft im TSV Roßtal wird eine Aufnahmegebühr in Höhe von 15,00 Euro berechnet.
                Diese Gebühr fällt jeweils bei Wiederaufnahme einer gekündigten Mitgliedschaft erneut an.
                    <br>
                    <br>
                    Gläubiger-Identifikationsnummer des TSV Roßtal e.V.: DE67TSV00002193097
                    <br>
                    <br>
                    Ich ermächtige den TurnSportVerein Roßtal e.V. - widerruflich - zum Einzug der gem. Beitragsordnung
                geregelten Mitgliedsbeiträge zu Lasten meines vorgenannten Bankkontos per Lastschrifteinzug.
                    <br>
                    <br>
                    <div class="labelCheck"><input type="checkbox" required>
                    Mit der Unterschrift stimme/n ich/wir explizit der aktuellen Fassung der AGB und der
                    Datenschutzerklärung gem. Website www.tsv-rosstal.de/rechtliches zu.
</div>
                    <div>
                        <p style="font-weight: bold">Unterschrift:</p>

                        <div class="w3-container">
                            <form class="w3-container" action="/download_pdf" method="POST" name="DAFORM"
                              onSubmit="submitForm();" enctype="multipart/form-data" target="_self">
                                <div id="signature-pad" class="m-signature-pad">
                                    <div class="m-signature-pad--body">
                                        <canvas></canvas>
                                        <input type="hidden" name="signature" id="signature" value="">
                                    </div>
                                </div>
                            </div>
                        </form>

                        <button type="button" class="button" onclick="signaturePad.clear();">Unterschrift
                            wiederholen
                        </button>
                    </div>


                </div>

                <div class="bottomButtons">
                <button class="invisButton" type="submit" id="validationButton"></button>
                <button onclick="defaultProove()" class="button" type="button">Abbrechen</button>


                    <button class="buttonSubmit g-recaptcha" id="submit_btn"
                            data-sitekey="{{ site_key }}" >
                        Antrag absenden
                    </button>

</div>
            </div>
        </div>
    </form>
</body>


    <script type="text/javascript">
        var wrapper = document.getElementById("signature-pad"),
            canvas = wrapper.querySelector("canvas"),
            signaturePad;

    // Initialize SignaturePad after the document has loaded
    document.addEventListener("DOMContentLoaded", function () {
updateFieldButtons();

            if (document.getElementsByClassName("tab")[0]) {
                document.getElementsByClassName("tab")[0].click();
            }
        try {
            signaturePad = new SignaturePad(canvas);
            // SignaturePad settings
            signaturePad.minWidth = 1;
            signaturePad.maxWidth = 5;
            signaturePad.penColor = "#000000";
            signaturePad.backgroundColor = "#FFFFFF";
            window.onresize = resizeCanvas;
            resizeCanvas();
        } catch (e) {
            console.error("Error initializing SignaturePad:", e);
        }
    });

    function resizeCanvas() {
        var oldContent = signaturePad.toData();
        var ratio = Math.max(window.devicePixelRatio || 1, 1);
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);
        signaturePad.clear();
        signaturePad.fromData(oldContent);
    }

        function submitForm() {
            document.getElementById('signature').value = signaturePad.toDataURL();
        }

        // Member Tabs
        function openTab(evt, tabName) {
            var i, tabContent, tab;
            tabContent = document.getElementsByClassName("tabContent");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }
            tab = document.getElementsByClassName("tab");
            for (i = 0; i < tab.length; i++) {
                tab[i].className = tab[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

// Member Tabs

        function updateFieldButtons() {
            var personalDataGroup = document.getElementById("personalDataGroup");
            var currentFieldCount = personalDataGroup.children.length;
            document.getElementById("addFieldButton").style.display = currentFieldCount >= 5 ? "none" : "inline-block";
            console.log(currentFieldCount)
            document.getElementById("removeFieldButton").style.display = currentFieldCount > 1 ? "inline-block" : "none";
        }


        function openTab(evt, tabName) {
            var i, tabContent, tab;
            tabContent = document.getElementsByClassName("tabContent");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }
            tab = document.getElementsByClassName("tab");
            for (i = 0; i < tab.length; i++) {
                tab[i].className = tab[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }


        function addField() {
            var personalDataGroup = document.getElementById("personalDataGroup");

            // Debugging: Log the element to the console
            console.log("personalDataGroup:", personalDataGroup);

            if (!personalDataGroup) {
                console.error("Element 'personalDataGroup' not found.");
                return;
            }
            var currentFieldCount = personalDataGroup.children.length;
            var newFieldNum = currentFieldCount + 1;

            if (newFieldNum > 5) {
                document.getElementById("addFieldButton").style.display = "none";
                return;
            }

            var newField = document.createElement("div");
            newField.className = "flexPersonalDataField";
            newField.id = "personalDataField" + newFieldNum;

            newField.innerHTML = `
                <div class="radioContainer">
                    <div class="radioCheck">
                        <input class="" id="male${newFieldNum}" type="radio" name="gender${newFieldNum}">
                        <label for="male${newFieldNum}">M</label>
                        <input class="" id="female${newFieldNum}" type="radio" name="gender${newFieldNum}">
                        <label for="female${newFieldNum}">W</label>
                    </div>
                </div>
                <input class="inputField" placeholder="Vorname" name="vn${newFieldNum}">
                <input class="inputField" placeholder="Name, Titel" name="nn${newFieldNum}">
                <input class="inputField" placeholder="Geburtsdatum" type="date" name="date${newFieldNum}">
                <input class="inputField" placeholder="E-Mail" type="email" name="email${newFieldNum}">
                <input class="inputField" placeholder="Telefon/Mobil" name="mobile${newFieldNum}">
            `;
            personalDataGroup.appendChild(newField);

            if (newFieldNum >= 5) {
                document.getElementById("addFieldButton").style.display = "none";
            }

            var newTab = document.createElement("li");
            newTab.className = "tab";
            newTab.onclick = function(event) { openTab(event, 'Member' + newFieldNum); };
            newTab.textContent = 'Mitglied ' + newFieldNum;
            document.getElementById("tabList").appendChild(newTab);

            var newTabContent = document.createElement("div");
            newTabContent.id = 'Member' + newFieldNum;
            newTabContent.className = 'tabContent';
            newTabContent.style.display = 'none';

            updateFieldButtons();

        }

        function removeField() {
            var personalDataGroup = document.getElementById("personalDataGroup");
            var currentFieldCount = personalDataGroup.children.length;
            if (currentFieldCount <= 1) return;

            // Remove the last personal data field
            var lastField = personalDataGroup.children[currentFieldCount - 1];
            personalDataGroup.removeChild(lastField);

            // Remove corresponding tab
            var tabList = document.getElementById("tabList");
            var lastTab = tabList.children[tabList.children.length - 1];
            tabList.removeChild(lastTab);

            // Hide and clear corresponding sports selections
            var lastTabContent = document.getElementById("Member" + currentFieldCount);
            lastTabContent.style.display = 'none';
            var checkboxes = lastTabContent.getElementsByTagName('input');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = false;
            }

            updateFieldButtons();
        }

        updateFieldButtons();




</script>

{% endblock %}
