{% extends 'base.html' %}

{% block body %}

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/signature_style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/script/signature_pad.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mitgliedsantrag.css') }}">
        <script language="javascript" type="text/javascript"
                src="{{ url_for('static', filename='js/mitgliedsantrag_validierung_1.js') }}"></script>
        <script language="javascript" type="text/javascript"
                src="{{ url_for('static', filename='js/mitgliedsantrag.js') }}"></script>
        <script language="javascript" type="text/javascript"
                src="{{ url_for('static', filename='js/script.js') }}"></script>
        <!-- recaptcha default from google site -->
        <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>

        <style>
            .hidden-opacity {
                opacity: 0;
            }
        </style>

        <title>Membership Application</title>
    </head>

    <body>

    <form id="antragsformular" method="post" action="{{ url_for('mitgliedsantrag') }}">
        <div class="containerMain">
            <h1 class="main-heading">Mitgliedsantrag</h1>
            <!-- Radio button group -->
            <div class="radio-button-group">
                <label class="radio-button">
                    <input type="radio" name="membership-type" required value="new-membership" checked>
                    Neumitgliedschaft
                </label>
                <label class="radio-button disabled">
                    <input type="radio" name="membership-type" id="family-membership" value="family-membership"
                           disabled>
                    Umstellung Familienmitgliedschaft
                </label>
                <label class="radio-button disabled">
                    <input type="radio" name="membership-type" value="fee-exemption" disabled>
                    Antrag auf Beitragsbefreiung
                </label>
            </div>
            <div class="sub-heading">Persönliche Daten</div>
            <!-- Personal data fields -->
            <div class="PD-Container">
                <div class="flexPersonalDataGroup" id="personalDataGroup">
                    <!-- Initial Field -->
                    <div class="flexPersonalDataField" id="personalDataField1">
                        <!-- Inhalte für das erste Personalfeld -->
                        <div class="radioCheck">
                            <input class="" id="male1" type="radio" name="gender1" value="M">
                            <label for="male1">M</label>
                            <input class="" id="female1" type="radio" name="gender1" value="W">
                            <label for="female1">W</label>
                        </div>
                        <input class="inputField" placeholder="Vorname" name="vn1">
                        <input class="inputField" placeholder="Name, Titel" name="nn1">
                        <input class="inputField birthdayField" placeholder="Geburtsdatum" type="date"
                               name="date1" id="date1">
                        <input class="inputField" placeholder="E-Mail" type="email" name="email1">
                        <input class="inputField" placeholder="Telefon/Mobil" name="mobile1">
                    </div>
                </div>
                <span class="addFieldButton">
                        <button class="addFieldButtonStyle" type="button" id="addFieldButton"
                                onclick="addField()">+</button>
                    <button class="removeFieldButtonStyle" type="button" id="removeFieldButton"
                            onclick="removeField()">-</button>
                </span>
            </div>

            <!-- Sports selection -->
            <div class="sportsSelectionTabs">

                <h2 class="sub-heading">Sportart(en)</h2>

                <ul class="tabList" id="tabList">
                    <li class="tab active" onclick="openTab(event, 'Member1')">Mitglied 1</li>
                </ul>
                <div id="Member1" class="tabContent" style="display: block;">
                    <div class="sportSelectionGroup">
                        <!-- Sport Selection Columns -->
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Allgemein</h3>
                            {% for sportart in sportarten_a %}
                                <label><input type="checkbox" name="sportart_member1" id="{{ sportart }}_member1"
                                              value="{{ sportart }}">{{ sportart }}</label>
                            {% endfor %}

                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Leistungssport</h3>
                            {% for sportart in sportarten_l %}
                                <label><input type="checkbox" name="sportart_member1" id="{{ sportart }}_member1"
                                              value="{{ sportart }}">{{ sportart }}</label>
                            {% endfor %}

                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Kinder-/Seniorensport</h3>
                            {% for sportart in sportarten_k %}
                                <label><input type="checkbox" name="sportart_member1" id="{{ sportart }}_member1"
                                              value="{{ sportart }}">{{ sportart }}</label>
                            {% endfor %}

                        </div>
                    </div>
            		<input type="text" style="display: none;" name="sportarten_member1" value="" id="sportartenMember1">
                </div>


                <div id="Member2" class="tabContent" style="display: none;">
                    <div class="sportSelectionGroup">
                        <!-- Sport Selection Columns -->
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Allgemein</h3>
                            {% for sportart in sportarten_a %}
                                <label><input type="checkbox" name="sportart_member2" id="{{ sportart }}_member2"
                                              value="{{ sportart }}">{{ sportart }}</label>
                            {% endfor %}

                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Leistungssport</h3>
                            {% for sportart in sportarten_l %}
                                <label><input type="checkbox" name="sportart_member2" id="{{ sportart }}_member2"
                                              value="{{ sportart }}">{{ sportart }}</label>
                            {% endfor %}

                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Kinder-/Seniorensport</h3>
                            {% for sportart in sportarten_k %}
                                <label><input type="checkbox" name="sportart_member2" id="{{ sportart }}_member2"
                                              value="{{ sportart }}">{{ sportart }}</label>
                            {% endfor %}

                        </div>
                    </div>
            		<input type="text" style="display: none;" name="sportarten_member2" value="" id="sportartenMember2">
                </div>


                <div id="Member3" class="tabContent" style="display: none;">
                    <div class="sportSelectionGroup">
                        <!-- Sport Selection Columns -->
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Allgemein</h3>
                            {% for sportart in sportarten_a %}
                                <label><input type="checkbox" name="sportart_member3" id="{{ sportart }}_member3"
                                              value="{{ sportart }}">{{ sportart }}</label>
                            {% endfor %}

                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Leistungssport</h3>
                            {% for sportart in sportarten_l %}
                                <label><input type="checkbox" name="sportart_member3" id="{{ sportart }}_member3"
                                              value="{{ sportart }}">{{ sportart }}</label>
                            {% endfor %}

                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Kinder-/Seniorensport</h3>
                            {% for sportart in sportarten_k %}
                                <label><input type="checkbox" name="sportart_member3" id="{{ sportart }}_member3"
                                              value="{{ sportart }}">{{ sportart }}</label>
                            {% endfor %}

                        </div>
                    </div>
            		<input type="text" style="display: none;" name="sportarten_member3" value="" id="sportartenMember3">
                </div>


                <div id="Member4" class="tabContent" style="display: none;">
                    <div class="sportSelectionGroup">
                        <!-- Sport Selection Columns -->
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Allgemein</h3>
                            {% for sportart in sportarten_a %}
                                <label><input type="checkbox" name="sportart_member4" id="{{ sportart }}_member4"
                                              value="{{ sportart }}">{{ sportart }}</label>
                            {% endfor %}

                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Leistungssport</h3>
                            {% for sportart in sportarten_l %}
                                <label><input type="checkbox" name="sportart_member4" id="{{ sportart }}_member4"
                                              value="{{ sportart }}">{{ sportart }}</label>
                            {% endfor %}

                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Kinder-/Seniorensport</h3>
                            {% for sportart in sportarten_k %}
                                <label><input type="checkbox" name="sportart_member4" id="{{ sportart }}_member4"
                                              value="{{ sportart }}">{{ sportart }}</label>
                            {% endfor %}

                        </div>
                    </div>
                	<input type="text" style="display: none;" name="sportarten_member4" value="" id="sportartenMember4">
                </div>


                <div id="Member5" class="tabContent" style="display: none;">
                    <div class="sportSelectionGroup">
                        <!-- Sport Selection Columns -->
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Allgemein</h3>
                            {% for sportart in sportarten_a %}
                                <label><input type="checkbox" name="sportart_member5" id="{{ sportart }}_member5"
                                              value="{{ sportart }}">{{ sportart }}</label>
                            {% endfor %}
                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Leistungssport</h3>
                            {% for sportart in sportarten_l %}
                                <label><input type="checkbox" name="sportart_member5" id="sportart_member5"
                                              value="{{ sportart }}">{{ sportart }}</label>
                            {% endfor %}

                        </div>
                        <div class="sportSelectionColumn">
                            <h3 class="sub-heading2">Kinder-/Seniorensport</h3>
                            {% for sportart in sportarten_k %}
                                <label><input type="checkbox" name="sportart_member5" id="{{ sportart }}_member5"
                                              value="{{ sportart }}">{{ sportart }}</label>
                            {% endfor %}

                        </div>
                    </div>
                	<input type="text" style="display: none;" name="sportarten_member5" value="" id="sportartenMember5">
                </div>
                <div class="addressField">
                    <h2 class="sub-heading3">Adresse</h2>
                    <input class="inputField" placeholder="Straße Hausnr. ">
                    <input class="inputField" placeholder="Stadt, Postleitzahl">
                </div>
                <div class="bankField">
                    <h2 class="sub-heading3">Bankdaten</h2>
                    <input class="inputField" placeholder="Kontoinhaber/-in" required>
                    <input class="inputField" type="text" id="iban" placeholder="IBAN">
                    <input class="inputField" placeholder="BIC (nur bei Auslandskonten)">
                </div>
                <div class="bankField">
                    <h2 class="sub-heading3">SEPA Mandate</h2>
                    Die Mitgliedschaft ist ausschließlich mit Erteilung eines SEPA-Lastschriftmandats möglich. Zur
                    Einrichtung der Mitgliedschaft im TSV Roßtal wird eine Aufnahmegebühr in Höhe von 15,00 Euro
                    berechnet.
                    Diese Gebühr fällt jeweils bei Wiederaufnahme einer gekündigten Mitgliedschaft erneut an.
                    <br>
                    <br>
                    Gläubiger-Identifikationsnummer des TSV Roßtal e.V.: DE67TSV00002193097
                    <br>
                    <br>
                    Ich ermächtige den TurnSportVerein Roßtal e.V. - widerruflich - zum Einzug der gem. Beitragsordnung
                    geregelten Mitgliedsbeiträge zu Lasten meines vorgenannten Bankkontos per Lastschrifteinzug.
                    <br>
                    <br>
                    <div class="labelCheck"><input type="checkbox" required>
                        Mit der Unterschrift stimme/n ich/wir explizit der aktuellen Fassung der AGB und der
                        Datenschutzerklärung gem. Website www.tsv-rosstal.de/rechtliches zu.
                    </div>
                    <div>
                        <p style="font-weight: bold">Unterschrift:</p>

                        <div class="w3-container">
                            <form class="w3-container" action="/download_pdf" method="POST" name="DAFORM"
                                  onSubmit="submitForm();" enctype="multipart/form-data" target="_self">
                                <div id="signature-pad" class="m-signature-pad">
                                    <div class="m-signature-pad--body">
                                        <canvas></canvas>
                                        <input type="hidden" name="signature" id="signature" value="">
                                        <input type="hidden" name="signature-2" id="signature-2" value="">
                                    </div>
                                </div>
                            </form>

                            <button type="button" class="button" onclick="signaturePad1.clear();">Unterschrift
                                wiederholen
                            </button>
                        </div>
                    </div>

                    <div id="parentSignature" class="hidden-opacity">
                        <p style="font-weight: bold">Erziehungsberechtigter Unterschrift:</p>

                        <div class="w3-container">
                            <form class="w3-container" action="/download_pdf" method="POST" name="DAFORM"
                                  enctype="multipart/form-data" target="_self">
                                <div id="signature-pad-2" class="m-signature-pad">
                                    <div class="m-signature-pad--body">
                                        <canvas></canvas>
                                    </div>
                                </div>
                            </form>

                            <button type="button" class="button" onclick="signaturePad2.clear();">Unterschrift
                                wiederholen
                            </button>
                        </div>
                    </div>

                    <div class="callout callout-info">
                        <p style="font-weight: 700; padding: 2rem; margin-bottom: 0!important;">Kosten gesamt:
                            <span style="font-weight: 500!important" id="totalPrice">0,00€</span>
                        </p>
                        <i style="padding: 1rem; padding-right: 2rem;" class="fa-solid fa-circle-info fa-2xl"
                           onmouseover="showTooltip(this)" onmouseout="hideTooltip(this)"></i>
                    </div>


                    <div id="customTooltip" style="display:none;"></div>


                    <p style="display: none">Jährlicher Beitrag: <span style="font-weight: 700 !important;"
                                                                       id="yearlyPrice">0,00€</span></p>
                    <p style="display: none">Anmeldekosten: <span style="font-weight: 700 !important;"
                                                                  id="processingFee">0,00€</span></p>


                    <div class="bottomButtons">
                        <button class="invisButton" type="submit" id="validationButton"></button>
                        <button class="button" type="button">Abbrechen</button>


                        <button class="buttonSubmit g-recaptcha" id="submit_btn"
                                data-sitekey="{{ site_key }}" data-action='submit'>
                            Antrag absenden
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </form>
    </body>

    <script type="text/javascript">
        // Wrapper und Canvas für das erste Signature Pad
        var wrapper1 = document.getElementById("signature-pad"),
            canvas1 = wrapper1.querySelector("canvas"),
            signaturePad;

        var wrapper2 = document.getElementById("signature-pad-2"),
            canvas2 = wrapper2.querySelector("canvas"),
            signaturePad2;

        function resizeCanvas(canvas) {
            var ratio = window.devicePixelRatio || 1;
            canvas.width = canvas.offsetWidth * ratio;
            canvas.height = canvas.offsetHeight * ratio;
            canvas.getContext("2d").scale(ratio, ratio);
        }

        // Initialize SignaturePads nach dem Laden des Dokuments
    document.addEventListener("DOMContentLoaded", function () {
        try {
            // Erstes Signature Pad
            resizeCanvas(canvas1);
            signaturePad1 = new SignaturePad(canvas1);
            signaturePad1.minWidth = 1;
            signaturePad1.maxWidth = 5;
            signaturePad1.penColor = "#000000";
            signaturePad1.backgroundColor = "#FFFFFF";

            // Zweites Signature Pad
            resizeCanvas(canvas2);
            signaturePad2 = new SignaturePad(canvas2);
            signaturePad2.minWidth = 1;
            signaturePad2.maxWidth = 5;
            signaturePad2.penColor = "#000000";
            signaturePad2.backgroundColor = "#FFFFFF";
        } catch (e) {
            console.error("Fehler bei der Initialisierung von SignaturePads:", e);
        }
    });

        function submitForm() {
            document.getElementById('signature').value = signaturePad.toDataURL();
            document.getElementById('signature-2').value = signaturePad2.toDataURL();
        }

        // Member Tabs

        function updateFieldButtons() {
            var personalDataGroup = document.getElementById("personalDataGroup");
            var currentFieldCount = personalDataGroup.children.length;
            document.getElementById("addFieldButton").style.display = currentFieldCount >= 5 ? "none" : "inline-block";
            console.log(currentFieldCount)
            document.getElementById("removeFieldButton").style.display = currentFieldCount > 1 ? "inline-block" : "none";
        }


        function openTab(evt, tabName) {
            var i, tabContent, tab;
            tabContent = document.getElementsByClassName("tabContent");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }
            tab = document.getElementsByClassName("tab");
            for (i = 0; i < tab.length; i++) {
                tab[i].className = tab[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }


        function addField() {
            var personalDataGroup = document.getElementById("personalDataGroup");

            // Debugging: Log the element to the console
            console.log("personalDataGroup:", personalDataGroup);

            if (!personalDataGroup) {
                console.error("Element 'personalDataGroup' not found.");
                return;
            }
            var currentFieldCount = personalDataGroup.children.length;
            var newFieldNum = currentFieldCount + 1;

            if (newFieldNum > 5) {
                document.getElementById("addFieldButton").style.display = "none";
                return;
            }

            var newField = document.createElement("div");
            newField.className = "flexPersonalDataField";
            newField.id = "personalDataField" + newFieldNum;

            newField.innerHTML = `
                <div class="radioContainer">
                    <div class="radioCheck">
                        <input class="" id="male${newFieldNum}" type="radio" name="gender${newFieldNum}" value="M">
                        <label for="male${newFieldNum}">M</label>
                        <input class="" id="female${newFieldNum}" type="radio" name="gender${newFieldNum}" value="W">
                        <label for="female${newFieldNum}">W</label>
                    </div>
                </div>
                <input class="inputField" placeholder="Vorname" name="vn${newFieldNum}">
                <input class="inputField" placeholder="Name, Titel" name="nn${newFieldNum}">
                <input class="inputField" placeholder="Geburtsdatum" type="date" name="date${newFieldNum}">
                <input class="inputField" placeholder="E-Mail" type="email" name="email${newFieldNum}">
                <input class="inputField" placeholder="Telefon/Mobil" name="mobile${newFieldNum}">
            `;
            personalDataGroup.appendChild(newField);

            if (newFieldNum >= 5) {
                document.getElementById("addFieldButton").style.display = "none";
            }

            var newTab = document.createElement("li");
            newTab.className = "tab";
            newTab.onclick = function(event) { openTab(event, 'Member' + newFieldNum); };
            newTab.textContent = 'Mitglied ' + newFieldNum;
            document.getElementById("tabList").appendChild(newTab);

            var newTabContent = document.createElement("div");
            newTabContent.id = 'Member' + newFieldNum;
            newTabContent.className = 'tabContent';
            newTabContent.style.display = 'none';

            updateFieldButtons();

        }

        function removeField() {
            var personalDataGroup = document.getElementById("personalDataGroup");
            var currentFieldCount = personalDataGroup.children.length;
            if (currentFieldCount <= 1) return;

            // Remove the last personal data field
            var lastField = personalDataGroup.children[currentFieldCount - 1];
            personalDataGroup.removeChild(lastField);

            // Remove corresponding tab
            var tabList = document.getElementById("tabList");
            var lastTab = tabList.children[tabList.children.length - 1];
            tabList.removeChild(lastTab);

            // Hide and clear corresponding sports selections
            var lastTabContent = document.getElementById("Member" + currentFieldCount);
            lastTabContent.style.display = 'none';
            var checkboxes = lastTabContent.getElementsByTagName('input');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = false;
            }

            updateFieldButtons();
        }

        updateFieldButtons();
        function showTooltip(element) {
            var yearlyPrice = document.getElementById('yearlyPrice').textContent;
            var processingFee = document.getElementById('processingFee').textContent;
            var tooltip = document.getElementById('customTooltip');
            tooltip.innerHTML = "Jährlicher Beitrag: " + yearlyPrice + "<br>Anmeldekosten: " + processingFee;
            tooltip.style.display = "flex";
            tooltip.style.left = element.getBoundingClientRect().left + "px";
            tooltip.style.top = (element.getBoundingClientRect().top + window.scrollY + 20) + "px";
        }

        function hideTooltip() {
            var tooltip = document.getElementById('customTooltip');
            tooltip.style.display = "none";
    }
    </script>
{% endblock %}
